{% extends 'catalog/base.html' %}

{% block content %}
<h1> {{object.title}}</h1>
<div class="col-12">
    <div class="card">
        <div class="card-header">
            {{ object.slug }}
        </div>
        <div class="card-body">
            <img class="card-img-top"
             src="/media/{{ object.preview }}"/>
            <p>
            {{ object.body }}
            </p>
        </div>
        <div class="card-footer">
            <p>Просмотры: {{ object.view_count}}</p>
            <p>Дата создания: {{ object.created_at}}</p>
        </div>
    </div>
</div>

{% endblock %}

<h4> Категория: {{ object.category }}</h4>
    <div class="col-6">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                {{ object.name }}
                {{ Version.is_active }}

            </div>
            <img class="card-img-top"

                 alt="Card image cap">
            <div class="card-body">
                <a> </a>
            </div>
        </div>
    </div>
    <a> {{ object.description }}</a>
    <h3> {{ object.price }} ₽ </h3>