{% extends 'catalog/base.html' %}

{% block title %}
<title>Каталог</title>
{% endblock %}
{% block content %}
{% if perms.catalog.add_product %}
<a href="{% url 'catalog:create_product' %}" type="button" class="btn btn-lg btn-block btn-outline-primary">Создать
    продукт</a>
{% endif %}
<div class="col-12">
    <div class="row text-center mt-4">
        {% for object in object_list %}
        <div class="col-6">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    {% if not object.is_published %}
                    <h2 class="my-0 font-weight-normal text-muted">{{ object.name }}</h2>
                    {% else %}
                    <h2 class="my-0 font-weight-normal">{{ object.name }}</h2>
                    {% endif %}
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>{{ object.description | truncatechars:100 }}</li>
                    </ul>
                    <h3 class="card-title pricing-card-title">{{ object.price }}р</h3>

                </div>
                <div class="card-footer">
                    <h6 class="my-0 text-left font-weight-normal">Автор: {{ object.user }}</h6>
                    {% if perms.catalog.view_product %}
                    <a href="{% url 'catalog:view_product' object.pk %}" type="button"
                       class="btn btn-outline-info">Смотреть</a>
                    {% endif %}
                    {% if perms.catalog.change_product %}
                    <a href="{% url 'catalog:update_product' object.pk %}" type="button"
                       class="btn btn-outline-info">Изменить</a>
                    {% endif %}
                    {% if perms.catalog.delete_product %}
                    <a href="{% url 'catalog:delete_product' object.pk %}" type="button"
                       class="btn btn-outline-danger">Удалить</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}