{% extends 'catalog/base.html' %}

{% load my_tags %}
{% block title %}
<title>{{ object.name }}</title>
{% endblock %}
{% block content %}
<div class="col-12">
    <h4> Категория: {{ object.category }}</h4>
    <div class="col-6">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                {{ object.name }}
                {{ Version.is_active }}

            </div>
            <img class="card-img-top"
                 src="{{ product.image | mediapath }}"
                 alt="Card image cap">
            <div class="card-body">
                <a> </a>
            </div>
        </div>
    </div>
    <a> {{ object.description }}</a>
    <h3> {{ object.price }} ₽ </h3>
    <button type="button" class="btn btn-lg btn-outline-dark" disabled>Купить</button>
</div>
{% endblock %}
